.todo {
    margin: auto;
    margin-top: 70px;
    text-align: center;
    border: 2px solid var(--white);
    width: 700px;
    padding: 1.5rem;
    border-radius: 10px;
}

.title {
    color: var(--white);
}

.button {
    background-color: var(--white);
    color: var(--primary);
    font-size: 20px;
    padding: 10px 1.1rem;
    border: transparent;
    cursor: pointer;
    border-radius: 8px;
    transition: all .5s ease;
    margin: 1rem;
    margin-top: 0;
    margin-bottom: 0;
}

.button:active {
    transform: translatey(-10px);
}

.input {
    display: block;
    margin-bottom: 20px;
    width: 100%;
    padding: 10px 14px;
    border: none;
    outline-color: var(--primary);
    border-radius: 8px;
    font-size: 20px;
}

.card {
    margin-top: 20px;
}

.cardItem {
    width: 100%;
    padding: 20px;
    color: var(--white);
    border: 1px solid var(--border);
    margin-top: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cardItem p {
    font-size: 18px;
    text-transform: uppercase;
}

.delBtn{
    display: flex;
    gap: 1rem;
}

.delBtn button{
    border-radius: 8px;
    font-size: 1rem;
    border: none;
    padding: 7px 12px;
    cursor: pointer;
    transition: all .5s ease;
}

.delBtn button:last-child {
    background-color: var(--red);
    color: var(--white);
}

.delBtn button:first-child{
    background-color: var(--green);
    color: var(--white);
}

.delBtn button:active{
    transform: translateY(-10px);
}